stages:
  - validate

variables:
  CUE_VERSION: "0.7.0"

validate:
  stage: validate
  image: golang:1.21-alpine
  before_script:
    - apk add --no-cache curl
    - curl -sSL "https://github.com/cue-lang/cue/releases/download/v${CUE_VERSION}/cue_v${CUE_VERSION}_linux_amd64.tar.gz" | tar -xz -C /usr/local/bin
  script:
    - cue vet ./...
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
